    body {
        background: whitesmoke;
        margin: 0;
        padding: 0;
        font-family: monospace;
        color: #2a0800;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif;
    }
    
    #map {
        height: 80%;
        margin-top: 37px;
    }
    
    footer {
        background: rgb(26, 24, 24);
        color: pink;
        font-size: 36px
    }
    
    .footer-copyright {
        background: black;
        font-size: 14px;
    }
    /*logo*/
    
    #logo img {
        z-index: 1100;
        height: 100px;
        width: 150px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -100px;
        opacity: 0.6;
    }
    
    .navbar-light .navbar-nav .nav-item .nav-link {
        color: #2a0800;
    }
    
    .navbar-light .navbar-nav .nav-item .nav-link:hover {
        color: pink;
    }
    
    nav a span {
        color: pink;
    }