body {
    background: whitesmoke;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

a {
    color: pink;
    transition: 0.5s;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}


/*logo*/

#logo {
    max-width: 150px;
}

#logo img {
    z-index: 1100;
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    opacity: 0.6;
}


/*Top Bar*/

#topbar {
    background: whitesmoke;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

#topbar .contact-info a {
    line-height: 1;
    color: #2a0800;
}

#topbar .contact-info a:hover {
    color: pink;
}

#topbar .contact-info i {
    color: pink;
    padding: 6px;
}

#topbar .contact-info .fa-phone {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
    color: #2a0800;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
    color: pink;
}

#topbar .social-links a:first-child {
    border-left: 0;
}


/*navbar*/

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #2a0800;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: pink;
}

nav a span {
    color: pink;
}


/*sponsors content*/

#sponsors {
    margin: 40px auto;
}

.content h3 {
    color: #2a0800;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
}

#logo-line img {
    height: 200px;
    width: 200px;
}


/*footer*/

footer {
    background: rgb(26, 24, 24);
    color: pink;
    font-size: 36px
}

.footer-copyright {
    background: black;
    font-size: 14px;
}