@media(min-width:62em){
.hideheader{
	
	font-size:14px; 
	text-align:center;
	}

.body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0;
	margin: 0;
	perspective: 500px;
	background: radial-gradient(rgb(255, 255, 255),lightgray);
}

.card {
	height: 350px;
	width: 350px;
	position: relative;
	transition: .5s all ease-out;
	transform: rotateY(0) scale(1);
	box-shadow: 0 2px 4px rgba(0,0,0,.3);
	border-radius:30px;
    
}

.hover-area:hover .card {
		transform: rotateY(.5turn) scale(1.2);
		box-shadow: 0 10px 30px rgba(0,0,0,.16);
}

.card > div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.card__front {
	background-image:url('../img/sam1.jpeg');
	background-size: cover;
    transition: .4 all linear;
   border-radius:30px;
    border-style: ridge;
    border-color: aqua;
}

.card__back {
    background:rgb(235, 230, 230);
	color: #021512;
	opacity: 0;
	transition-delay: .17s;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	transform: rotateY(.5turn);
	font-family: 'Georgia';
}


.hover-area:hover .card__back {
	opacity: 1;
	transition-delay: .17s;
}


.card__front1{
	background-image: url('../img/dzoe1.jpg');
	background-size: cover;
    transition: .4 all linear;
    border-radius:30px;
    border-style: ridge;
    border-color: aqua;
}


.card__back1{
	background:rgb(235, 230, 230);
	color: #021512;
	opacity: 0;
	transition-delay: .17s;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	transform: rotateY(.5turn);
	font-family: 'Georgia';
}


.card__back1 a:hover {
	color: #021512;
}

.hover-area:hover .card__back1 {
	opacity: 1;
	transition-delay: .17s;
}



.card__front2{
	background-image: url('../img/bano1.jpg');
	background-size: cover;
    transition: .4 all linear;
    border-radius:30px;
    border-style: ridge;
    border-color: aqua;
}


.card__back2{
	background:rgb(235, 230, 230);
	color: #021512;
	opacity: 0;
	transition-delay: .17s;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	transform: rotateY(.5turn);
	font-family: 'Georgia';
}


.card__back2 a:hover {
	color: #021512;
}

.hover-area:hover .card__back2 {
	opacity: 1;
	transition-delay: .17s;
}
}

@media(max-width:61.9375em){
.hideheader{
	display:none;
}

.card__front{
	text-align:center;
}

.card__front1{
	text-align:center;
}

.card__front2{
	text-align:center;
}

.hover-area h2{
	text-align:center;
	font-size:2.5em;

}

.hover-area h3{
	text-align:center;
	font-size: 1.5em;
}

}
